Area Restrita

<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AreaRestritaClaim">Exclusão de Arquivos - Área Restrita Permissões</a>

<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AreaRestritaPodeLer">Leitura de Arquivos - Área Restrita Permissões</a>

<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AreaRestritaPodeEscrever">Edição de Arquivos - Área Restrita Permissões</a>


